<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Puntos de venta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>
    <!--<ion-item *ngFor="let tienda of tiendas">{{tienda}}</ion-item>-->
     <!--<button ion-item *ngFor="let cafe of cafeterias" (click)="itemTapped($event, item)" icon-left>
        <ion-icon name="cafe"></ion-icon>
        Tienda  {{cafe}}
      </button>
      <button ion-item *ngFor="let tienda of tiendas" (click)="itemTapped($event, item)" icon-left>
        <ion-icon name="basket"></ion-icon>
        Tienda  {{tienda}}
      </button>-->

      <button ion-item *ngFor="let punto of puntos" (click)="itemTapped($event, punto)">
      <ion-icon name="cafe" item-left id="icono"></ion-icon>
      {{punto.nombre}}

    </button>

    <br>

</ion-list>

</ion-content>
