<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.nombre}}
  </h3>
  <h4 text-center *ngIf="selectedItem">
    {{selectedItem.ubicacion}}
  </h4>

  <!-- Se cargan las imagenes desde el objeto -->
  <img src="{{selectedItem.imagenes}}" alt="" *ngIf="selectedItem" />

<ion-grid>
  <ion-row>
    <ion-col col-12>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7713.318578151776!2d-91.51782550058748!3d14.844368062302308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefcfc26be38ff114!2sAlimentos+Xelapan+S.A.+La+Democracia!5e0!3m2!1ses-419!2sgt!4v1524238786469"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
