@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:500');
.titulo{
  font-family: 'Roboto', sans-serif;
}

.texto{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
page-item-details {

}
